GRAMMAR_FILE:   example/genn.bnf
OUTCOME_FILE:   example/outcome_contin.txt
CONTIN_FILE:    example/contin.txt
SCALE_CONTIN:   True
SCALE_OUTCOME:  True
GENO_FILE:      example/genos.txt
GENO_ENCODE:    add_quad
OUT:            results/included_example
FITNESS:        r-squared
POPULATION_SIZE:        250
GENERATIONS:    5
SELECTION:	epsilon-lexicase
INCLUDEDVARS: C2 C17 C30 SNP3 SNP12 SNP22 SNP27 SNP79 SNP100
