GRAMMAR_FILE:   example/genn.bnf
OUTCOME_FILE:   example/outcome_contin.txt
CONTIN_FILE:    example/contin.txt
SCALE_CONTIN:   True
SCALE_OUTCOME:  True
GENO_FILE:      example/genos.txt
GENO_ENCODE:    add_quad
OUT:            results/rsquared_example
FITNESS:        r-squared
POPULATION_SIZE:        250
GENERATIONS:    5
SELECTION:	epsilon-lexicase
